<%- include header %>
<section>
  <h2>Current Sprint (<%= currentSprint.name %>)</h2>
  <table>
    <tr>
      <th>Project</th>
      <th>Issue</th>
      <th>Assignee</th>
      <th>Reporter</th>
      <th>Priority</th>
      <th>State</th>
    </tr>
    <% currentSprint.issues.forEach(function(issue) { %>
      <tr>
        <td><%= issue.project %></td>
        <td><a href="<%= issue.projectUrl %>/issues/<%= issue.iid %>"><%= issue.title %></a></td>
        <td>
          <% if (issue.assignee) { %>
            <a href="/issues/a/<%= issue.assignee.name %>"><%= issue.assignee.name %></a>
          <% } else { %>
            unassigned
          <% } %>
        </td>
        <td><a href="/issues/u/<%= issue.author.name %>"><%= issue.author.name %></a></td>
        <td><%= issue.priority || '' %></td>
        <td><%= issue.state %></td>
      </tr>
    <% }) %>
  </table>
</section>
<section>
  <h2>My Assigneed Open Issues</h2>
  <table>
    <tr>
      <th>Project</th>
      <th>Summary</th>
      <th>Sprint</th>
      <th>Author</th>
      <th>Category</th>
      <th>Priority</th>
      <th>State</th>
    </tr>
    <% myAssigneedIssues.forEach(function(issue) { %>
      <tr>
        <td><%= issue.project %></td>
        <td><a href="<%= issue.projectUrl %>/issues/<%= issue.iid %>"><%= issue.title %></a></td>
        <td><a href="/sprints/s/<%= issue.sprint %>"><%= issue.sprint %></a></td>
        <td><a href="/issues/u/<%= issue.author.name %>"><%= issue.author.name %></a></td>
        <td>
          <% if (issue.category) { %>
            <%= issue.category %>
          <% } %>
        </td>
        <td>
          <% if (issue.priority) { %>
            <%= issue.priority %>
          <% } %>
        </td>
        <td><%= issue.state %></td>
      </tr>
    <% }) %>
  </table>
</section>
<section>
  <h2>My Open Issues</h2>
  <table>
    <tr>
      <th>Project</th>
      <th>Summary</th>
      <th>Sprint</th>
      <th>Assignee</th>
      <th>Category</th>
      <th>Priority</th>
      <th>State</th>
    </tr>
    <% myOpenIssues.forEach(function(issue) { %>
      <tr>
        <td><%= issue.project %></td>
        <td><a href="<%= issue.projectUrl %>/issues/<%= issue.iid %>"><%= issue.title %></a></td>
        <td><a href="/sprints/s/<%= issue.sprint %>"><%= issue.sprint %></a></td>
        <td>
          <% if (issue.assignee) { %>
            <a href="/issues/a/<%= issue.assignee.name %>"><%= issue.assignee.name %></a>
          <% } else { %>
            unassigned
          <% } %>
        </td>
        <td>
          <% if (issue.category) { %>
            <%= issue.category %>
          <% } %>
        </td>
        <td>
          <% if (issue.priority) { %>
            <%= issue.priority %>
          <% } %>
        </td>
        <td><%= issue.state %></td>
      </tr>
    <% }) %>
  </table>
</section>
<section>
  <h2>Ongoing Reviews</h2>
  <table>
    <tr>
      <th>Project</th>
      <th>Summary</th>
      <th>Issue</th>
      <th>Verify</th>
      <th>Review</th>
    </tr>
    <% ongoingReviews.forEach(function(mr) { %>
      <tr>
        <td><%= mr.project %></td>
        <td><a href="<%= mr.projectUrl %>/merge_requests/<%= mr.iid %>"><%= mr.title %></a></td>
        <td></td>
        <td></td>
        <td><%= mr.upvotes %> up | <%= mr.downvotes %> down</td>
      </tr>
    <% }) %>
  </table>
</section>
<section>
  <h2>My Contributions</h2>
  <!-- my committs, my usage rate of gitlab, and contribution rate of whole product -->
</section>
<%- include footer %>
