<%- include header %>
<section>
  <p>Open Issues: <%= issues.length %></p>
</section>
<section>
  <table>
    <tr>
      <th>Project</th>
      <th>Summary</th>
      <th>Sprint</th>
      <th>Assignee</th>
      <th>Author</th>
      <th>Category</th>
      <th>Priority</th>
      <th>Action</th>
    </tr>
    <% issues.forEach(function(issue) { %>
      <tr>
        <td><%= issue.project %></td>
        <td><a href="<%= issue.projectUrl %>/issues/<%= issue.iid %>"><%= issue.title %></a></td>
        <td><a href="/sprints/s/<%= issue.sprint %>"><%= issue.sprint %></a></td>
        <td>
          <% if (issue.assignee) { %>
            <a href="/issues/a/<%= issue.assignee.name %>"><%= issue.assignee.name %></a>
          <% } else { %>
            unassigned
          <% } %>
        </td>
        <td><a href="/issues/u/<%= issue.author.name %>"><%= issue.author.name %></a></td>
        <td>
          <% if (issue.category) { %>
            <%= issue.category %>
          <% } %>
        </td>
        <td>
          <% if (issue.priority) { %>
            <%= issue.priority %>
          <% } %>
        </td>
        <td></td>
      </tr>
    <% }) %>
  </table>
</section>
<%- include footer %>
