<%- include header %>
<% issues.forEach(function(issue, index) { %>
    <p><h2><a href="<%= issue.projectUrl %>/issues/<%= issue.iid %>"><%= issue.title %></a></h2></p>
    <p class="info">
        Assignee: <% if (issue.assignee) { %>
          <a href="/issues/a/<%= issue.assignee.name %>"><%= issue.assignee.name %></a>
        <% } else { %>
          unassigned
        <% } %> |
        Author: <a href="/issues/u/<%= issue.author.name %>"><%= issue.author.name %></a> | 
        Created: <%= issue.created_at %> |
        State: <%= issue.state %> |
        Project: <%= issue.project %>
    </p>
    <p><%- issue.description %></p>
<% }) %>
<%- include footer %>
