<%- include header %>
<section>
  <chart id="pieProject">
    <h2>Issues by Projects</h2>
    <svg class="pieChart"></svg>
  </chart>
  <script>
  drawPieChart('#pieProject svg', dataByProject());

  function drawPieChart(chartId, chartData) {
    nv.addGraph(function() {
      var chart = nv.models.pieChart()
          .x(function(d) { return d.label })
          .y(function(d) { return d.value })
          .showLabels(true);

      // draw pie Chart
      d3.select(chartId)
          .datum(chartData)
          .transition().duration(350)
          .call(chart);

      return chart;
    });
  }

  function dataByProject() {
    var sprint = <%- JSON.stringify(sprint) %>;
    var dataDict = {};
    var data = [];

    sprint.issues.forEach(function(issue) {
      if(dataDict[issue.project]) {
        dataDict[issue.project] += 1;
      } else {
        dataDict[issue.project] = 1;
      }
    });

    Object.keys(dataDict).forEach(function(k) {
      data = data.concat({'label': k, 'value': dataDict[k]});
    });

    return data;
  }
  </script>
</section>
<section>
  <h2>Issues of <a href="/sprints/s/<%= sprint.name %>"><%= sprint.name %></a></h2>
  <table>
    <tr>
      <th>Project</th>
      <th>Issue</th>
      <th>Assignee</th>
      <th>Reporter</th>
      <th>Priority</th>
      <th>State</th>
      <th>Action</th>
    </tr>
    <% sprint.issues.forEach(function(issue) { %>
      <tr>
        <td><%= issue.project %></td>
        <td><a href="<%= issue.projectUrl %>/issues/<%= issue.iid %>"><%= issue.title %></a></td>
        <td>
          <% if (issue.assignee) { %>
            <a href="/issues/a/<%= issue.assignee.name %>"><%= issue.assignee.name %></a>
          <% } else { %>
            unassigned
          <% } %>
        </td>
        <td><a href="/issues/u/<%= issue.author.name %>"><%= issue.author.name %></a></td>
        <td><%= issue.priority || '' %></td>
        <td><%= issue.state %></td>
        <td></td>
      </tr>
    <% }) %>
  </table>
</section>
<%- include footer %>
