<%- include header %>
<section>
  <h2>Overview</h2>
  <chart id="pieAuthor">
    <h2>Reviews by Author</h2>
    <svg class="pieChart"></svg>
  </chart>
  <chart id="pieProject">
    <h2>Reviews by Project</h2>
    <svg class="pieChart"></svg>
  </chart>
  <script>
  drawPieChart('#pieAuthor svg', dataByAuthor());
  drawPieChart('#pieProject svg', dataByProject());

  function drawPieChart(chartId, chartData) {
    nv.addGraph(function() {
      var chart = nv.models.pieChart()
          .x(function(d) { return d.label })
          .y(function(d) { return d.value })
          .showLabels(true);

      // draw pieCategory chart
      d3.select(chartId)
          .datum(chartData)
          .transition().duration(350)
          .call(chart);

      return chart;
    });
  }

  function dataByAuthor() {
    return _dataBy(function(mr){
      return mr.author.name;
    });
  }

  function dataByProject() {
    return _dataBy(function(mr){
      return mr.project;
    });
  }

  function _dataBy(keyFunc) {
    var myMergeRequests = <%- JSON.stringify(myMergeRequests) %>;
    var otherMergeRequests = <%- JSON.stringify(otherMergeRequests) %>;
    var mergeRequests = myMergeRequests.concat(otherMergeRequests);
    var dataDict = {};
    var data = [];

    mergeRequests.forEach(function(mr) {
      if(dataDict[keyFunc(mr)]) {
        dataDict[keyFunc(mr)] += 1;
      } else {
        dataDict[keyFunc(mr)] = 1;
      }
    });

    Object.keys(dataDict).forEach(function(k) {
      data = data.concat({'label': k, 'value': dataDict[k]});
    });


    return data;
  }
  </script>
</section>
<section>
  <h2>My Outgoing Reviews</h2>
  <table>
    <tr>
      <th>Project</th>
      <th>Summary</th>
      <th>Issue</th>
      <th>Verify</th>
      <th>Review</th>
    </tr>
    <% myMergeRequests.forEach(function(mr) { %>
      <tr>
        <td><%= mr.project %></td>
        <td><a href="<%= mr.projectUrl %>/merge_requests/<%= mr.iid %>"><%= mr.title %></a></td>
        <td>related issue</td>
        <td></td>
        <td><%= mr.upvotes %> up | <%= mr.downvotes %> down</td>
      </tr>
    <% }) %>
  </table>
</section>
<section>
  <h2>My Ingoing Reviews</h2>
  <table>
    <tr>
      <th>Project</th>
      <th>Summary</th>
      <th>Issue</th>
      <th>Author</th>
      <th>Verify</th>
      <th>Review</th>
    </tr>
    <% otherMergeRequests.forEach(function(mr) { %>
      <tr>
        <td><%= mr.project %></td>
        <td><a href="<%= mr.projectUrl %>/merge_requests/<%= mr.iid %>"><%= mr.title %></a></td>
        <td>related issue</td>
        <td><a href="/reviews/u/<%= mr.author.name %>"><%= mr.author.name %></a></td>
        <td></td>
        <td><%= mr.upvotes %> up | <%= mr.downvotes %> down</td>
      </tr>
    <% }) %>
  </table>
</section>
<%- include footer %>
